<style>
	table , th  ,td{
		border:1px solid black;
	}
	table{

		border-collapse: collapse;
	}
	.header{
		text-align: center;
	}
	th{
		text-align: center;
		background: #D7D5D5;
	}
	td{
		text-align: center;
        white-space:pre ;
	}
	.tabla{
		width: 10000px;
	}
</style>
     <page>
        
    	<h5 class="header">{{dia}} {{type|replace({"first" : "Primera Vez","discard":"descartados","frequent":"regulares"})}}</h5>
    	<p class="header">Leyenda asistencia: RV-Recoger viernes / RS-Recoger sábado / RD-Recoger domingo/ CV-Confirmar viernes / CS-Confirmar sábado / CD-Confirmar domingo / LV-Llega viernes / LS-Llega
    sábado / LD-Llega domingo</p>
    <p class="header">¡¡¡Atención!!! En esta tabla solo aparecen los repaces que vienen al programa.</p>
    <table >
    		<tr >
    			<th style="width:20px">Nº</th>
    			<th style="width:100px">Colegio</th>
    			<th style="width:100px">Nombre</th>
    			<th style="width:100px">Direccion</th>
    			<th style="width:100px">Telefono</th>
    			<th style="width:100px">Barrio</th>
    			<th style="width:100px">N. padres</th>
                <th style="width:80px">Confirmar</th>
                {% if foto %}
    			<th style="width:80px">foto</th>
                {% endif %}
    		</tr>
            {% for key , child in childs %}
    		<tr>
    			<td>{{key}}</td>
    			<td>{{child.colegio|wordwrap(15,'<br>')|raw}}</td>
    			<td>{{child.name|wordwrap(15,'<br>')|raw}}</td>
    			<td>{{child.address|wordwrap(25,'<br>')|raw}}</td>
    			<td>{{child.phone|wordwrap(15,'<br>')|raw}}</td>
    			<td>{{child.barrio|wordwrap(15,'<br>')|raw}}</td>
    			<td>{{child.parents|wordwrap(15,'<br>')|raw}}</td>
                {% if dia == 'viernes' %}<td>{{child.viernes}} {{dia|slice(0,1)|upper}}</td>{% endif %}
                {% if dia == 'sabado' %}<td>{{child.sabado}} {{dia|slice(0,1)|upper}}</td>{% endif %}
                {% if dia == 'domingo' %}<td>{{child.domingo}} {{dia|slice(0,1)|upper}}</td>{% endif %}
                {% if foto %}
                {% if child.image %}
                    <td><img height="80" src="img/childs/{{child.image}}" alt=""></td>
                {% endif %}
                {% endif %}
    			
    		</tr>
            {% endfor %}
    </table>
     
 </page>
