{% extends "::base.html.twig" %}
{% block css %}
<!-- DataTables CSS -->
<link href="{{ asset ('sb-admin/vendor/datatables-plugins/dataTables.bootstrap.css')}}" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="{{ asset ('sb-admin/vendor/datatables-responsive/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		Listado de Grupos
	</div>
		<div class="panel-body">
			<table class="table table-striped table-bordered table-hover" id="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody class="text-center">
					{% for ruta in rutas %}
					    <tr>
					    	<td>{{ruta.name}}</td>
					    	<td>
					    		<a href="{{ path ('rutas_edit',{id:ruta.id})}}" class="btn btn-sm btn-warning">Editar</a>
					    		<a href="{{ path ('rutas_del',{id:ruta.id})}}" class="btn btn-sm btn-danger">Eliminar</a>
					    	</td>
					    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
</div>
{% endblock %}
{% block javascripts %}
<!-- DataTables JavaScript -->
<script src="{{ asset ('sb-admin/vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset ('sb-admin/vendor/datatables-plugins/dataTables.bootstrap.min.js')}}"></script>

 <script>
    $(document).ready(function() {
        $('#table').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}
