<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Apostolado Chez Nous</title>
    <!-- Bootstrap Core CSS -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('favicon.ico')}}">
    <link href="{{ asset ('sb-admin/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset ('sb-admin/vendor/metisMenu/metisMenu.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset ('sb-admin/dist/css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset ('sb-admin/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset ('css/styles.css')}}">
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path ('homepage')}}">Apostolado <small>sede {{app.user.sede.name}}</small></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img height="50" class="img-rounded m-r-10" src="{{ asset ('img/profiles/'~app.user.image)}}" alt=""><span>{{app.user.username}}</span><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path ('users_editProfile')}}"><i class="fa fa-cog fa-fw"></i>Editar perfil</a>
                    </li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Salir</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% if 'cumpleaños' in app.user.permisos.permisos %}
                    <li>
                        <a href="{{path ('proximosCumples')}}"><i class="fa fa-cake"></i>Proximos cumpleaños</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-child"></i>Registros<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% if 'nuevoRegistro' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{path ('childs_new')}}">Nuevo</a>
                            </li>
                            {% endif %}
                            {% if 'registros' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('childs_frequent',{'telf': 0 ,'miGrupo':0})}}">Registros</a>
                            </li>
                            {% endif %}
                            {% if 'primeraVez' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('childs_first',{'telf': 0 ,'miGrupo':0})}}">Primera Vez</a>
                            </li>
                            {% endif %}
                            {% if 'descartados' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('childs_discard',{'telf': 0 ,'miGrupo':0})}}">Descartados</a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-print"></i> Reportes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% if 'reporteAsistencia' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('reportes_asistencia')}}">Reporte de asistencia</a>
                            </li>
                            {% endif %}
                            {% if 'reporteTelefoneros' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('registros_telefoneros')}}">Reporte por telefoneros</a>
                            </li>
                            {% endif %}
                            {% if 'reporteRutas' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('resportes_rutas')}}">Reporte de Rutas</a>
                            </li>
                            {% endif %}
                            {% if 'controlPuntos' in app.user.permisos.permisos %}
                            <li>
                                <a href="{{ path ('resportes_puntos')}}">Reporte de Puntos</a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% if 'telefoneros' in app.user.permisos.permisos %}
                    <li>
                        <a href="#"><i class="fa fa-phone"></i> Telefoneros<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path ('telefoneros_new')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('telefoneros_index')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                     {% if 'listadoFotos' in app.user.permisos.permisos %}
                    <li>
                        <a href="#"><i class="fa fa-child"></i> Listado de Fotos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path ('listadoFotos_first')}}">Primera vez</a>
                            </li>
                            <li>
                                <a href="{{ path ('listadoFotos_frequent')}}">Registros</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}

                    {% if 'rutas' in app.user.permisos.permisos %}
                    <li>
                        <a href="#"><i class="fa fa-bus"></i> Rutas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path ('rutas_new')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('rutas_index')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    {% if 'grupos' in app.user.permisos.permisos %}
                    <li>
                        <a href="#"><i class="fa fa-users"></i> Grupos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path ('grupos_new')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('grupos_index')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    
                    {% if 'usuarios' in app.user.permisos.permisos %}
                    <li>
                        <a href="#"><i class="fa fa-users"></i> Usuarios<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path ('users_new')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('users_index')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    {% if 'limpiarRegistro' in app.user.permisos.permisos %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#delRegistro"><i class="fa fa-eraser fa-fw"></i> Limpiar registros</a>
                    </li>
                    {% endif %}

                     {% if 'limpiarCalendario' in app.user.permisos.permisos %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#confirmCalendario"><i class="fa fa-eraser fa-fw"></i> Limpiar Calendario</a>
                    </li>
                    {% endif %}
                    {% if app.user.rola == 'WEBMASTER' %}
                    <li>
                        <a href="#"><i class="fa fa-users"></i> Sedes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path ('sedes_new')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('sedes_index')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i> Usuarios<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path ('users_new_master')}}">Nuevo</a>
                            </li>
                            <li>
                                <a href="{{ path ('users_newWebmaster')}}">Nuevo Webmaster</a>
                            </li>
                            <li>
                                <a href="{{ path ('users_index_master')}}">Lista</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="content">
            {% block body %}{% endblock %}
            <!-- Modal -->
            <div class="modal fade" id="delRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Seguro que quieres limpiar los registros ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <a href="{{ path ('childs_clean')}}" id="href-modal" class="btn btn-primary">Limpiar</a>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Modal -->
            <div class="modal fade" id="confirmCalendario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Seguro que quieres limpiar los Calendarios  ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <a href="{{ path ('childs_cleanCalendar')}}" id="href-modal" class="btn btn-primary">Limpiar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery 
-->
<script src="{{ asset ('sb-admin/vendor/jquery/jquery.js')}}"></script>

{% block javascripts %}{% endblock %}
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset ('sb-admin/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Metis Menu Plugin JavaScript 
-->
<script src="{{ asset ('sb-admin/vendor/metisMenu/metisMenu.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset ('sb-admin/dist/js/sb-admin-2.js')}}"></script>

</body>

</html>

