{% extends "::base.html.twig" %}
{% block title %}Editar niño{% endblock %}
{% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
{% set editar = '' %}
{% set editSelect = '' %}
{% if app.user.rola == 'USER' %}
{% set editar = 'readonly' %}
{% set editSelect = 'disabled' %}
{% endif %}
<div class="row mb-10">
	<div class="col-md-4">
	{% if back %}
		<a onclick="sendform()" href="{{path ('childs_edit',{'id':back[0].id ,lista : lista})}}" class="btn btn-warning center-block next-back-btn">Anterior</a>
	{% endif %}
	</div>
	<div class="col-md-4">
	{% if next %}
		<a onclick="sendform()" href="{{path ('childs_edit',{'id':next[0].id ,lista : lista})}}"  class="btn btn-success center-block next-back-btn">Siguiente</a>
	{% endif %}
	</div>
	<div class="col-md-4">
	<a onclick="sendform()" href="{{anterior}}" class="btn btn-primary center-block next-back-btn">Volver</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Editar Niño</div>
	<div class="panel-body">
		<form method="post" enctype="multipart/form-data" >
			<div class="col-md-8">
				<div class="row">
					<input name="id" value="{{child.id}}" type="hidden">
					<div class="col-md-4"><label for="">Nombre</label><input {{editar}} required id="name" value="{{child.name}}" class="form-control" name="name" type="text"></div>
					<div class="col-md-4"><label for="">Fecha de Nacimiento</label><input {{editar}} required value="{{child.birthday| date('Y-m-d')}}" name="date" class="form-control" type="date"></div>
					<div class="col-md-4"><label for="">Telefono</label><input {{editar}} required id="phone" value="{{child.phone}}" name="phone" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Email</label><input {{editar}} required id="email" value="{{child.email}}" name="email" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Direccion</label><input {{editar}} required value="{{child.address}}" type="text" name="address" class="form-control" id="searchTextField"></div>
					<div class="col-md-12">
						<div class="col-md-6"><input {{editar}} value="{{child.lat}}" name="lat"  type="hidden" class="MapLat form-control"></div>
						<div class="col-md-6"><input {{editar}} value="{{child.lng}}" name="lng"  type="hidden" class="MapLon form-control"></div>
					</div>
					<div class="col-md-12">
						<div id="map_canvas" style="height: 200px;width: 100%;margin: 0.6em; margin-right: 20px"></div>
					</div>
					<div class="col-md-6"><label for="">Barrio</label><input {{editar}} required value="{{child.barrio}}" name="barrio" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Nombre padres</label><input {{editar}} required id="parents" value="{{child.parents}}" name="parents" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Grado</label>
						<select {{editSelect}} name="grade" class="form-control" id="">
							<option {% if child.grade %}selected{% endif %} value="A">A</option>
							<option {% if child.grade %}selected{% endif %} value="B">B</option>
							<option {% if child.grade %}selected{% endif %} value="C">C</option>
						</select>
					</div>
					<div class="col-md-6"><label for="">Grupo</label>
						<select {{editSelect}} name="grupo" class="form-control" id="">
							{% for grupo in grupos %}
							<option {% if child.grupo %}selected{% endif %} value="{{grupo.id}}">{{grupo.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-6"><label for="">Colegio</label>
						<input {{editSelect}} class="form-control" name="colegio" value="{{child.colegio}}" type="text">
					</div>
					<div class="col-md-6"><label for="">Ruta</label>
						<select {{editSelect}} name="institute" class="form-control" id="">
							{% for route in routes %}
							<option {% if child.route %}selected{% endif %} value="{{route.id}}">{{route.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-6"><label for="">Telefonero</label>
						<select {{editSelect}} name="telefonero" class="form-control" id="">
							{% for telefonero in telefoneros %}
							<option {% if child.telefonero %}selected{% endif %} value="{{telefonero.id}}">{{telefonero.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="checkbox col-md-6"><label class="activo"><input class="form-control" name="active" {{editSelect}}  type="checkbox">Activo</label></div>
					<div class="col-md-12"><label for="">Observaciones</label><textarea name="observations" class="form-control" id="" cols="5" rows="2">{{child.observations}}</textarea></div>
					<div class="col-md-12 mt-10"><button class="btn btn-success m-r-10">Editar</button></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 image"><img id="imgSalida" width="280" src="{{ asset ('img/childs/'~child.image)}}" /></div>
				<div class="col-md-12 mb-10"><input {{editar}} class="form-control" name="image" id="file-input" type="file" /></div>
				<div class="col-md-12"><label for="">Comentarios</label><textarea  name="comments" class="form-control" id="" cols="5" rows="2">{{child.comments}}</textarea></div>
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'R' %} checked {% endif %} name="viernes" value="R"  type="radio">Recojer viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'C' %} checked {% endif %} name="viernes" value="C"  type="radio">Confirmar viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'L' %} checked {% endif %} name="viernes" value="L"  type="radio">Llega viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'X' %} checked {% endif %} name="viernes" value="X"  type="radio">No viene viernes</label></div></div>
						</div>
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'R' %} checked {% endif %} name="sabado" value="R"  type="radio">Recojer sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'C' %} checked {% endif %} name="sabado" value="C"  type="radio">Confirmar sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'L' %} checked {% endif %} name="sabado" value="L"  type="radio">Llega sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'X' %} checked {% endif %} name="sabado" value="X"  type="radio">No viene sabado</label></div></div>
						</div>
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'R' %} checked {% endif %} name="domingo" value="R"  type="radio">Recojer domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'C' %} checked {% endif %} name="domingo" value="C"  type="radio">Confirmar domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'L' %} checked {% endif %} name="domingo" value="L"  type="radio">Llega domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'X' %} checked {% endif %} name="domingo" value="X"  type="radio">No viene domingo</label></div></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCx5syL0jRIx6U17sIZlBb7QnC2ly1UMtc&libraries=places&region=uk&language=en&sensor=true"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
{# Google Api key #}
{# Script Mapa #}
<script src="{{ asset ('js/googleMapsEdit.js')}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
	//autocompletar
    var availableNames = {{childNames | json_encode | raw}};
    var availablePhones = {{childPhones | json_encode | raw}};
    var availableEmails = {{childEmails | json_encode | raw}};
    var availableParents = {{childParents | json_encode | raw}};
    $( "#name" ).autocomplete({
      source: availableNames
    });
    $( "#phone" ).autocomplete({
      source: availablePhones
    });
    $( "#email" ).autocomplete({
      source: availableEmails
    });
    $( "#parents" ).autocomplete({
      source: availableParents
    });
  } );
// Mostrar imagenes
$(window).on('load' ,function(){

	$(function() {
		$('#file-input').change(function(e) {
			addImage(e); 
		});

		function addImage(e){
			var file = e.target.files[0],
			imageType = /image.*/;

			if (!file.type.match(imageType))
				return;

			var reader = new FileReader();
			reader.onload = fileOnload;
			reader.readAsDataURL(file);
		}

		function fileOnload(e) {
			var result=e.target.result;
			$('#imgSalida').attr("src",result);
		}
	});
});
 function sendform(){
 		datos = $('form').serialize();
 	$.ajax({
    type:"POST",
    url:"{{path ('childs_update')}}",
    data:datos,
    success:function(r){
                   
    }
	
	    });
}
</script>
{% endblock %}
