{% extends "::base.html.twig" %}
{% block title %}Editar niño{% endblock %}
{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="{{ asset ('fullCalendar/packages/core/main.css')}}" rel='stylesheet' />
<link href="{{ asset ('fullCalendar/packages/daygrid/main.css')}}" rel='stylesheet' />
<link href="{{ asset ('fullCalendar/packages/timegrid/main.css')}}" rel='stylesheet' />
<link href="{{ asset ('fullCalendar/packages/list/main.css')}}" rel='stylesheet' />
<style>
#calendar {
	max-width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.fc-bgevent{
	opacity: 0.6 !important;
}
</style>
{% endblock %}
{% block body %}
{% set editar = '' %}
{% set editSelect = '' %}
{% if app.user.rola == 'USER' %}
{% set editar = 'readonly' %}
{% set editSelect = 'disabled' %}
{% endif %}
{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success" role="alert">
	<h6>{{ flash_message }}</h6>
</div>
{% endfor %}
<div class="row mb-10">
	<div class="col-md-3">
		{% if back %}
		<a onclick="sendform()" href="{{path ('childs_edit',{'id':back[0].id ,lista : lista})}}" class="btn btn-warning center-block next-back-btn">Anterior</a>
		{% endif %}
	</div>
	<div class="col-md-3">
		{% if next %}
		<a onclick="sendform()" href="{{path ('childs_edit',{'id':next[0].id ,lista : lista})}}"  class="btn btn-success center-block next-back-btn">Siguiente</a>
		{% endif %}
	</div>
	<div class="col-md-3">
		<button id="editar" class="btn btn-info next-back-btn" >Editar</button>
	</div>
	<div class="col-md-3">
		<a onclick="sendform()" href="{{anterior}}" class="btn btn-primary center-block next-back-btn">Volver</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Editar Niño</div>
	<div class="panel-body">
		<form id="formEditar" method="post" enctype="multipart/form-data" >
			<div class="col-md-8">
				<div class="row">
					<input name="id" value="{{child.id}}" type="hidden">
					<div class="col-md-4"><label for="">Nombre</label><input {{editar}} id="name" value="{{child.name}}" class="form-control" name="name" type="text"></div>
					<div class="col-md-4"><label for="">Fecha de Nacimiento</label><input {{editar}} value="{{child.birthday| date('Y-m-d')}}" name="date" class="form-control" type="date"></div>
					<div class="col-md-4"><label for="">Telefono</label><input {{editar}} id="phone" value="{{child.phone}}" name="phone" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Email</label><input {{editar}} id="email" value="{{child.email}}" name="email" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Direccion</label><input {{editar}} value="{{child.address}}" type="text" name="address" class="form-control" id="searchTextField"></div>
					<div class="col-md-12">
						<div class="col-md-6"><input {{editar}} value="{{child.lat}}" name="lat"  type="hidden" class="MapLat form-control"></div>
						<div class="col-md-6"><input {{editar}} value="{{child.lng}}" name="lng"  type="hidden" class="MapLon form-control"></div>
					</div>
					<div class="col-md-12">
						<div id="map_canvas" style="height: 200px;width: 100%;margin: 0.6em; margin-right: 20px"></div>
					</div>
					<div class="col-md-6"><label for="">Barrio</label><input {{editar}} value="{{child.barrio}}" name="barrio" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Nombre padres</label><input {{editar}} id="parents" value="{{child.parents}}" name="parents" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Grado</label>
						<select {{editSelect}} name="grade" class="form-control" id="">
							<option {% if child.grade == 'A' %}selected{% endif %} value="A">A</option>
							<option {% if child.grade == 'B' %}selected{% endif %} value="B">B</option>
							<option {% if child.grade == 'C' %}selected{% endif %} value="C">C</option>
						</select>
					</div>
					<div class="col-md-6"><label for="">Grupo</label>
						<select {{editSelect}} name="grupo" class="form-control" id="">
							{% for grupo in grupos %}
							<option {% if child.grupo.id == grupo.id %}selected{% endif %} value="{{grupo.id}}">{{grupo.name}}</option>
							{% endfor %}
							<option {% if child.grupo == null %}selected{% endif %} value="">Ninguno</option>
						</select>
					</div>
					<div class="col-md-6"><label for="">Colegio</label>
						<input {{editSelect}} class="form-control" name="colegio" value="{{child.colegio}}" type="text">
					</div>
					<div class="col-md-6"><label for="">Ruta</label>
						<select {{editSelect}} name="ruta" class="form-control" id="">
							{% for route in routes %}
							<option {% if child.route.id|default('none') == route.id %}selected{% endif %} value="{{route.id}}">{{route.name}}</option>
							{% endfor %}
							<option {% if child.route == null %}selected{% endif %} value="">Ninguna</option>
						</select>
					</div>
					<div class="col-md-6"><label for="">Telefonero</label>
						<select {{editSelect}} name="telefonero" class="form-control" id="">
							{% for telefonero in telefoneros %}
							<option {% if child.telefonero.id == telefonero.id %}selected{% endif %} value="{{telefonero.id}}">{{telefonero.name}}</option>
							{% endfor %}
							<option {% if child.telefonero == null %}selected{% endif %} value="">Ninguno</option>
						</select>
					</div>
					<div class="checkbox col-md-6"><label class="activo"><input class="form-control" name="active" {{editSelect}}  type="checkbox">Activo</label></div>
					<div class="col-md-12"><label for="">Observaciones</label><textarea name="observations" class="form-control" id="" cols="5" rows="2">{{child.observations}}</textarea></div>
					<div class="col-md-12">
						<div id='calendar'></div>
					</div>
					<div class="col-md-12 mt-10"><button class="btn btn-success m-r-10">Editar</button><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#puntos">Control de puntos</button></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 image"><img id="imgSalida" width="280" src="{{ asset ('img/childs/'~child.image)}}" /></div>
				<div class="col-md-12 mb-10"><input {{editar}} class="form-control" name="image" id="file-input" type="file" /></div>
				<div class="col-md-12"><label for="">Comentarios</label><textarea  name="comments" class="form-control" id="" cols="5" rows="2">{{child.comments}}</textarea></div>
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'R' %} checked {% endif %} name="viernes" value="R"  type="radio">Recoger viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'C' %} checked {% endif %} name="viernes" value="C"  type="radio">Confirmar viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'L' %} checked {% endif %} name="viernes" value="L"  type="radio">Llega viernes</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.viernes == 'X' %} checked {% endif %} name="viernes" value="X"  type="radio">No viene viernes</label></div></div>
						</div>
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'R' %} checked {% endif %} name="sabado" value="R"  type="radio">Recoger sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'C' %} checked {% endif %} name="sabado" value="C"  type="radio">Confirmar sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'L' %} checked {% endif %} name="sabado" value="L"  type="radio">Llega sabado</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.sabado == 'X' %} checked {% endif %} name="sabado" value="X"  type="radio">No viene sabado</label></div></div>
						</div>
						<div class="col-md-4 mr-10">
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'R' %} checked {% endif %} name="domingo" value="R"  type="radio">Recoger domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'C' %} checked {% endif %} name="domingo" value="C"  type="radio">Confirmar domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'L' %} checked {% endif %} name="domingo" value="L"  type="radio">Llega domingo</label></div></div>
							<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input {% if child.domingo == 'X' %} checked {% endif %} name="domingo" value="X"  type="radio">No viene domingo</label></div></div>
						</div>
					</form>
					<div class="col-md-12 mt-10">
						<button type="button" id="sedeToggle" class="btn btn-primary center-block">Exportar sede</button>
					</div>
					<div id="sedeList" style="display:none;" class="col-md-12 mt-10">
						<form class="center-block" action="{{ path ('childs_exportSede')}}">
							<input type="hidden" name="id" value="{{child.id}}">
							<input type="hidden" name="next" value="{{next[0].id}}">
							<input type="hidden" name="lista" value="{{lista}}">
							<select class="form-control" name="sede" id="">
								{% for sede in sedes %}
								<option {% if sede.id == child.sede.id %}checked{% endif %} value="{{sede.id}}">{{sede.name}}</option>
								{% endfor %}
							</select><br>
							<button class="btn btn-success center-block">Exportar</button>
						</form>
					</div>
					<div class="col-md-12 mt-10 ">
						{% if lista != 'frequent' %}
						<div class="col-md-12 mt-10"><button type="button" onclick="openModal('{{lista}}',{{next[0].id}},'frequent',{{child.id}})" class="btn btn-primary center-block">Exportar a registros</button></div>
						{% endif %}
						{% if lista != 'first' %}
						<div class="col-md-12 mt-10"><button type="button" onclick="openModal('{{lista}}',{{next[0].id}},'first',{{child.id}})"  class="btn btn-info center-block">Exportar a primera vez</button></div>
						{% endif %}
						{% if lista != 'discard' %}
						<div class="col-md-12 mt-10"><button type="button" onclick="openModal('{{lista}}',{{next[0].id}},'discard',{{child.id}})"  class="btn btn-danger center-block">Exportar a descartados</button></div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="puntos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<button onclick="addStar(1,{{child.id}},1,'blanca')" class="btn btn-default bronce mt-10 mb-10">★ 1</button>
						<button onclick="addStar(2,{{child.id}},3,'blanca')" class="btn btn-default plata mt-10 mb-10">★ 3</button><br>
						<button onclick="addStar(3,{{child.id}},6,'blanca')" class="btn btn-default oro mt-10 mb-10">★ 6</button>
						<button onclick="addStar(4,{{child.id}},1,'negra')" class="btn btn-default black mt-10 mb-10">★ -1</button>
					</div>
					<div class="col-md-8">
						<div class="row mb-10">
							<div class="col-md-6"><label for="">total positivos</label><input id="totalBlancas" class="form-control" readonly type="text"></div>
							<div class="col-md-6"><label for="">total negativos</label><input id="totalNegras" class="form-control" readonly type="text"></div>
						</div>
						<div class="row">
							<div id="tableContainer" class="col-md-12 mt-10">
								<table id="tableStar" class="table table-bordered text-center">
									<thead >
										<tr class="text-center">
											<th>fecha</th>
											<th>punto</th>
											<th>tipo</th>
											<th>accion</th>
										</tr>
									</thead>
									<tbody>
										{% for star in stars %}
										<tr id="stars">
											{% set type = 'blanca' %}
											{% if star.star.color == 'negra' %}
											{% set type = 'negra' %}
											{% endif %}
											<td>{{star.date|date('d-m-Y')}}</td>
											<td class="{{type}}" data-color="{{star.star.color}}" >{{star.star.valor}}</td>
											<td>{{star.star.color}}</td>
											<td><button onclick="delStar({{star.id}},{{star.star.valor}},'{{type}}')" class="btn btn-sm btn-danger">x</button></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title-export" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Seguro que desea exportar este registro ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<a href="" id="href-modal-export" class="btn btn-primary">Exportar</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset ('fullCalendar/packages/core/main.js')}}"></script>
<script src="{{ asset ('fullCalendar/packages/interaction/main.js')}}"></script>
<script src="{{ asset ('fullCalendar/packages/daygrid/main.js')}}"></script>
<script src="{{ asset ('fullCalendar/packages/timegrid/main.js')}}"></script>
<script src="{{ asset ('fullCalendar/packages/list/main.js')}}"></script>

<script>
$( function() {

	$('#editar').click(function() {
		$('#formEditar').submit()
	});

	let eventos = [];
	for (var i = 0; i < {{recojer| json_encode | raw}}.length; i++) {
		 eventos.push({
			start: {{recojer| json_encode | raw}}[i],
			end: {{recojer| json_encode | raw}}[i],
			overlap: false,
			rendering: 'background',
			color: '#2664E1'
		});
	}

	for (var i = 0; i < {{confirmar| json_encode | raw}}.length; i++) {
		 eventos.push({
			start: {{confirmar| json_encode | raw}}[i],
			end: {{confirmar| json_encode | raw}}[i],
			overlap: false,
			rendering: 'background',
			color: '#FAE81E'
		});
	}

for (var i = 0; i < {{llega| json_encode | raw}}.length; i++) {
		 eventos.push({
			start: {{llega| json_encode | raw}}[i],
			end: {{llega| json_encode | raw}}[i],
			overlap: false,
			rendering: 'background',
			color: '#1EFA47'
		})
	}

	for (var i = 0; i < {{noViene| json_encode | raw}}.length; i++) {
		 eventos.push({
			start: {{noViene| json_encode | raw}}[i],
			end: {{noViene| json_encode | raw}}[i],
			overlap: false,
			rendering: 'background',
			color: '#FA4D1E'
		});
	}

	var calendarEl = document.getElementById('calendar');

	var calendar = new FullCalendar.Calendar(calendarEl, {
		plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
		header: {
        //left: 'prev,next today',
        //center: 'title',
        //right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      defaultDate: '2019-08-12',
      locale: 'es',
      navLinks: false, // can click day/week names to navigate views
      businessHours: false, // display business hours
      editable: false,
      events: eventos
      });

	console.log(eventos);
	calendar.render();

	$('.fc-today-button').text('Hoy');

	//autocompletar
	var availableNames = {{childNames | json_encode | raw}};
	var availablePhones = {{childPhones | json_encode | raw}};
	var availableEmails = {{childEmails | json_encode | raw}};
	var availableParents = {{childParents | json_encode | raw}};
	$( "#name" ).autocomplete({
		source: availableNames
	});
	$( "#phone" ).autocomplete({
		source: availablePhones
	});
	$( "#email" ).autocomplete({
		source: availableEmails
	});
	$( "#parents" ).autocomplete({
		source: availableParents
	});
	
} );
// Mostrar imagenes
$(window).on('load' ,function(){

	$(function() {
		$('#file-input').change(function(e) {
			addImage(e); 
		});

		function addImage(e){
			var file = e.target.files[0],
			imageType = /image.*/;

			if (!file.type.match(imageType))
				return;

			var reader = new FileReader();
			reader.onload = fileOnload;
			reader.readAsDataURL(file);
		}

		function fileOnload(e) {
			var result=e.target.result;
			$('#imgSalida').attr("src",result);
		}
	});
});

// FUNCION PARA SUMAR ESTRELLAS
var totalBlancas = 0
var totalNegras = 0
function sumarEstrellas(){
	$('.blanca').each(function(){
		totalBlancas+= parseInt($(this).text());
		$('#totalBlancas').val(totalBlancas);
		console.log($(this).text());
	})
	$('.negra').each(function(){
		totalNegras+= parseInt($(this).text());
		$('#totalNegras').val(totalNegras);
		console.log($(this).text());
	})
}
sumarEstrellas();

function addStar(star,child,value,type){
	datos = 'star='+star+
	'&child='+child;
	$.ajax({
		type:"POST",
		url:"{{path ('addStar')}}",
		data:datos,
		success:function(r){
			if (r==1){
				$('#tableContainer').load(' #tableStar');
				if (type == 'blanca') {
					totalBlancas+= parseInt(value);
					$('#totalBlancas').val(totalBlancas);
				}else{
					totalNegras+= parseInt(value);
					$('#totalNegras').val(totalNegras);
				}
			}else{
			}                           
		}
	});
}

function delStar(id,value,type){
	datos = 'id='+id;
	$.ajax({
		type:"POST",
		url:"{{path ('delStar')}}",
		data:datos,
		success:function(r){
			if (r==1){
				$('#tableContainer').load(' #tableStar');
				if (type == 'blanca') {
					totalBlancas-= parseInt(value);
					$('#totalBlancas').val(totalBlancas);
				}else{
					totalNegras-= parseInt(value);
					$('#totalNegras').val(totalNegras);
				}
			}else{
			}                           
		}
	});
}

function sendform(){
	datos = $('form').serialize();
	$.ajax({
		type:"POST",
		url:"{{path ('childs_update')}}",
		data:datos,
		success:function(r){

		}

	});
}
function openModal(lista,next,exportar,id){
	$('.modal-title-export').text(name);
	$('#href-modal-export').attr('href',`${window.location.origin}/childs/${lista}/${next}/${exportar}/${id}/export`);
	$('#export').modal('show');
	console.log('openModal');
}
$('#sedeToggle').on('click', function(){
	$('#sedeList').toggle();
});

</script>
{# Google Api key #}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCx5syL0jRIx6U17sIZlBb7QnC2ly1UMtc&libraries=places&region=uk&language=en&sensor=true"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
{# Script Mapa #}
<script src="{{ asset ('js/googleMapsEdit.js')}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
