{% extends "::base.html.twig" %}

{% block title %}Nuevo niño{% endblock %}
{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="{{ asset ('plugins/cropper/cropper.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">Nuevo Niño</div>
	<div class="panel-body">
		<form method="post" enctype="multipart/form-data">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4"><label for="">Nombre</label><input required id="name"  class="form-control" name="name" type="text"></div>
					<div class="col-md-4"><label for="">Fecha de Nacimiento</label><input  name="date" class="form-control" type="date"></div>
					<div class="col-md-4"><label for="">Telefono</label><input id="phone"  name="phone" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Email</label><input id="email"  name="email" class="form-control" type="text"></div>
					<div class="col-md-12"><label for="">Direccion</label><input  type="text" name="address" class="form-control" id="searchTextField"></div>
					<div class="col-md-12">
						<div class="col-md-6"><input name="lat" type="hidden" class="MapLat form-control"></div>
						<div class="col-md-6"><input name="lng" type="hidden" class="MapLon form-control"></div>
					</div>
					<div class="col-md-12">
						<div id="map_canvas" style="height: 200px;width: 100%;margin: 0.6em; margin-right: 20px"></div>
					</div>
					<div class="col-md-6"><label for="">Barrio</label><input id="barrio"  name="barrio" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Nombre padres</label><input id="parents"  name="parents" class="form-control" type="text"></div>
					<div class="col-md-6"><label for="">Grado</label>
						<select name="grade" class="form-control" id="">
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
					<div class="col-md-6"><label for="">Grupo</label>
						<select name="grupo" class="form-control" id="">
							<option selected value="">Seleccione un grupo</option>
							{% for grupo in grupos %}
							<option value="{{grupo.id}}">{{grupo.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-6"><label for="">Colegio</label>
						<input id="colegio" class="form-control" name="colegio" type="text">
					</div>
					<div class="col-md-6"><label for="">Ruta</label>
						<select name="ruta" class="form-control" id="">
							<option selected value="28">Sin ruta definida</option>
							{% for route in routes %}
							<option value="{{route.id}}">{{route.name}}</option>
							{% endfor %}
						</select>
					</div>
					{% if app.user.rola != 'USER' %}
					<div class="col-md-6"><label for="">Telefonero</label>
						<select name="telefonero" class="form-control" id="">
							<option selected value="">Seleccione un Telefonero</option>
							{% for telefonero in telefoneros %}
							<option value="{{telefonero.id}}">{{telefonero.name}}</option>
							{% endfor %}
						</select>
					</div>
					{% endif %}
					<div class="col-md-12"><label for="">Observaciones</label><textarea name="observations" class="form-control" id="" cols="5" rows="2"></textarea></div>
					<input id="imageUrl" name="image" type="hidden">
					<div class="col-md-12 mt-10"><button id="crear" class="btn btn-success m-r-10">Crear</button>
					<input type="reset" class="btn btn-warning"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-12 image"><img id="IMAGE" width="280" src="" /></div>
					<div class="col-md-12 mb-10"><input class="form-control" id="file-input" type="file" /></div>
					<div class="col-md-12"><label for="">Comentarios</label><textarea name="comments" class="form-control" id="" cols="5" rows="2"></textarea></div>
					<div class="panel panel-default">
						<div class="panel-body ">
							<div class="col-md-4 mr-10">
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="viernes" value="R"  type="radio">Recoger viernes</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="viernes" value="C"  type="radio">Confirmar viernes</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="viernes" value="L"  type="radio">Llega viernes</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="viernes" value="X"  type="radio">No viene viernes</label></div></div>
							</div>
							<div class="col-md-4 mr-10">
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="sabado" value="R"  type="radio">Recoger sabado</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="sabado" value="C"  type="radio">Confirmar sabado</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="sabado" value="L"  type="radio">Llega sabado</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="sabado" value="X"  type="radio">No viene sabado</label></div></div>
							</div>
							<div class="col-md-4 mr-10">
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="domingo" value="R"  type="radio">Recoger domingo</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="domingo" value="C"  type="radio">Confirmar domingo</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="domingo" value="L"  type="radio">Llega domingo</label></div></div>
								<div class="col-md-12 mr-10"><div class="radio col-md-6"><label><input name="domingo" value="X"  type="radio">No viene domingo</label></div></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock %}

	{% block javascripts %}
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCx5syL0jRIx6U17sIZlBb7QnC2ly1UMtc&libraries=places&region=uk&language=en&sensor=true"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	{# Google Api key #}
	{# Script Mapa #}
	<script src="{{ asset ('js/googleMaps.js')}}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset ('plugins/cropper/cropper.min.js')}}"></script>
	<script>
	$( function() {
	//autocompletar
	var availableNames = {{childNames | json_encode | raw}};
	var availablePhones = {{childPhones | json_encode | raw}};
	var availableEmails = {{childEmails | json_encode | raw}};
	var availableParents = {{childParents | json_encode | raw}};
	var availableBarrios = {{childBarrio | json_encode | raw}};
	var availableColegios = {{childColegio | json_encode | raw}};
	console.log(availableEmails);
	console.log(availablePhones);
	$( "#name" ).autocomplete({
		source: availableNames
	});
	$( "#phone" ).autocomplete({
		source: availablePhones
	});
	$( "#email" ).autocomplete({
		source: availableEmails
	});
	$( "#parents" ).autocomplete({
		source: availableParents
	});
	$( "#barrio" ).autocomplete({
		source: availableBarrios
	});
	$( "#colegio" ).autocomplete({
		source: availableColegios
	});


// CROPPER

var $image = $('#IMAGE');

$image.cropper({
	movable: true,
	aspectRatio: 9 / 12,
	crop: function(event) {
		console.log(event.detail.x);
		console.log(event.detail.y);
		console.log(event.detail.width);
		console.log(event.detail.height);
		console.log(event.detail.rotate);
		console.log(event.detail.scaleX);
		console.log(event.detail.scaleY);
	}
});

// Get the Cropper.js instance after initialized
var cropper = $image.data('cropper');

  // Import image
  var $inputImage = $('#file-input');
  var URL = window.URL || window.webkitURL;
  var blobURL;
  var imagenSubida = false;
  if (URL) {
  	$inputImage.change(function () {
  		imagenSubida = true
  		var files = this.files;
  		var file;

  		if (!$image.data('cropper')) {
  			return;
  		}

  		if (files && files.length) {
  			file = files[0];

  			if (/^image\/\w+$/.test(file.type)) {
  				blobURL = URL.createObjectURL(file);
  				$image.one('built.cropper', function () {

            // Revoke when load complete
            URL.revokeObjectURL(blobURL);
          }).cropper('reset').cropper('replace', blobURL);
  				$inputImage.val('');
  			} else {
  				window.alert('Please choose an image file.');
  			}
  		}
  	});
  } else {
  	$inputImage.prop('disabled', true).parent().addClass('disabled');
  }

  $('#crear').click(function(){
  	var green = cropper.getCroppedCanvas().toDataURL('image/jpeg');
  	console.log(green);
  	if (imagenSubida) {
  		$('#imageUrl').val(green);
  	}
  });
// !!! FINISH CROPPER

} );
	</script>
	{% endblock %}
