<style>
.border{
	border:1px solid black;
}
.tabla{
	margin-top: 10px;
	border-collapse: collapse;
}
.header{
	text-align: center;
}
th{
	text-align: center;
	background: #D7D5D5;
}
td{
	text-align: center;
	white-space:pre ;
}
.tabla{
	width: 10000px;
}
.bronce{
	color:#BF4A10;
}

.plata{
	color :#C9C4C4;
}

.oro{
	color: #EAA208;
}

.black{
	color: #161414;
}
</style>
{% for grupo in childs %}
    <page>
	<table>
		<tr>
			<td style="width:200px">
				<img height="40" src="img/stars/starbronce.png" alt="">
			</td>
			<td style="width:200px">
				<img height="40" src="img/stars/starplata.png" alt="">
			</td>
			<td style="width:200px">
				<img height="40" src="img/stars/staroro.png" alt="">
			</td>
			<td style="width:200px">
				<img height="40" src="img/stars/starnegro.png" alt="">
			</td>
		</tr>
	</table>
	<p class="header">Listado de puntos {{grupo.grupo.name}}</p>
	<table class="border tabla" >
		<tr >
			<th class="border" style="width:100px">nombre</th>
			<th class="border" style="width:80px">positivos</th>
			<th class="border" style="width:80px">negativos</th>
			<th class="border" style="width:80px;color:#BF4A10;">bronce</th>
			<th class="border" style="width:80px;color :#716E6E;">plata</th>
			<th class="border" style="width:80px;color: #EAA208;">oro</th>
			<th class="border" style="width:80px;color: #161414;">negro</th>
			<th class="border" style="width:100px">foto</th>
		</tr>
		{% for child in grupo.childs %}
		<tr>
			<td class="border">{{child.child.name|wordwrap(15,'<br>')|raw}}</td>
			<td class="border">{{child.positivos}}</td>
			<td class="border">{{child.negativos}}</td>
			<td class="border">{{child.bronce}}</td>
			<td class="border">{{child.plata}}</td>
			<td class="border">{{child.oro}}</td>
			<td class="border">{{child.negra}}</td>
			{% if child.child.image %}
			<td class="border"><img height="80" src="img/childs/{{child.child.image}}" alt=""></td>
			{% endif %}
			{% if child.child.image is null %}
			<td class="border"></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	<page_footer> 
	</page_footer> 
</page>
{% endfor %}

